<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="notifications"></ion-icon> Notifications
    </ion-title>
    <ion-menu-button slot="end" color="warning"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-toolbar class="ion-text-center">
  <ion-label>Today is Wed Jun 09</ion-label>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <section class="ion-text-right">
      <ion-label position="floating">09/06/2021 12:23 am</ion-label>
    </section>
    <ion-card mode="md">
      <ion-row justify-content-center align-items-center style="height: 100%">

        <ion-col class="vertical-align-content" size="2">
          <ion-icon name="alert-circle"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-card-subtitle>Subject One</ion-card-subtitle>
          <ion-label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus ut elit in pharetra. Donec vel sollicitudin leo.</ion-label>
        </ion-col>

      </ion-row>
    </ion-card>
  </ion-grid>

  <!-- second message -->
  <ion-grid>
    <section class="ion-text-right">
      <ion-label position="floating">09/06/2021 12:23 am</ion-label>
    </section>
    <ion-card mode="md">
      <ion-row justify-content-center align-items-center style="height: 100%">

        <ion-col class="vertical-align-content" size="2">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-card-subtitle>Subject Two</ion-card-subtitle>
          <ion-label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus ut elit in pharetra. Donec vel sollicitudin leo.</ion-label>
        </ion-col>

      </ion-row>
    </ion-card>
  </ion-grid>

  <!-- Third message -->
  <ion-grid>
    <section class="ion-text-right">
      <ion-label position="floating">09/06/2021 12:23 am</ion-label>
    </section>
    <ion-card mode="md">
      <ion-row justify-content-center align-items-center style="height: 100%">

        <ion-col class="vertical-align-content" size="2">
          <ion-icon name="checkmark-done-circle"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-card-subtitle>Subject Three</ion-card-subtitle>
          <ion-label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Suspendisse cursus ut elit in pharetra. Donec vel sollicitudin leo.</ion-label>
        </ion-col>

      </ion-row>
    </ion-card>
  </ion-grid>


</ion-content>
