<ion-content [fullscreen]="true" class="ion-padding">

  <ion-segment value="profile" scrollable="true" mode="ios" [(ngModel)]="segmentModel" >
      <ion-segment-button value="profile">
        <ion-icon name="person-outline"></ion-icon>
        <!-- <ion-label>My Profile</ion-label> -->
      </ion-segment-button>

      <ion-segment-button value="bankaccountdetails">
        <ion-icon name="wallet-outline"></ion-icon>
        <!-- <ion-label>Bank account</ion-label> -->
      </ion-segment-button>

      <ion-segment-button value="changepass">
        <ion-icon name="lock-open-outline"></ion-icon>
        <!-- <ion-label>Password</ion-label> -->
      </ion-segment-button>

  </ion-segment>
  
  <div *ngIf="segmentModel === 'profile'" style="margin-bottom:50px;">
    <ion-card style="border-radius: 22px 22px 0 0;">
      <div class="header" id="forheader">
        <h4 *ngFor="let user of users"> {{user.first_name}} {{user.last_name}}</h4>
        <h5 *ngFor="let user of users">Franchise Id - {{user.fran_userid}}</h5> 
  
      </div>
    
      <div class="flex">
          <div class="box-border">
            <div class="border-white">
              <div class="img-box" style="text-align: center;">
                  <img src="../../../assets/img/chips.png" height="70%" width="60%">
                  
              </div>
            </div>
          </div>
      </div>
    
      <form (ngSubmit)="profileUpdate()" [formGroup]="credentials">
        <ion-card-content>
        <div class="input-group" *ngFor="let user of users">
         <!-- <h3>{{userImg}}</h3> -->
          <ion-item>
            <ion-label position="stacked">Business Name</ion-label>
            <ion-input type="text" placeholder="Business Name" [(ngModel)]="user.business_name" formControlName="business_name"></ion-input>
          </ion-item>
          <div *ngIf="(business_name.dirty || business_name.touched) && business_name.errors" class="errors">
            <span *ngIf="business_name.errors?.required">Business Name is required</span>
          </div>

          <ion-item>
            <ion-label position="stacked">First Name</ion-label>
            <ion-input type="text" placeholder="First Name" [(ngModel)]="user.first_name" formControlName="first_name"></ion-input>
          </ion-item>
          <div *ngIf="(first_name.dirty || first_name.touched) && first_name.errors" class="errors">
            <span *ngIf="first_name.errors?.required">First Name is required</span>
          </div>

          <ion-item>
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input type="text" placeholder="Last Name" [(ngModel)]="user.last_name" formControlName="last_name"></ion-input>
          </ion-item>
          <div *ngIf="(last_name.dirty || last_name.touched) && last_name.errors" class="errors">
            <span *ngIf="last_name.errors?.required">Last Name is required</span>
          </div>

          <ion-item>
            <ion-label position="stacked">Mobile Number</ion-label>
            <ion-input type="number" placeholder="Mobile No." [(ngModel)]="user.mobile" formControlName="mobile" ></ion-input>
          </ion-item>
        
          <div *ngIf="(mobile.dirty || mobile.touched) && mobile.errors" class="errors">
            <span *ngIf="mobile.errors?.required">Mobile Number is required</span>
            <span *ngIf="mobile.errors?.mobile">Mobile Number is invalid</span>
          </div>

          <ion-item>
            <ion-label position="stacked">Alternate Mobile Number</ion-label>
            <ion-input type="number" placeholder="Alternate Mobile No." [(ngModel)]="user.alt_mobile" formControlName="alt_mobile" ></ion-input>
          </ion-item>
 
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" placeholder="Email" [(ngModel)]="user.email" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
            <span *ngIf="email.errors?.required">Email is required</span>
            <span *ngIf="email.errors?.email">Email is invalid</span>
          </div>

          
          <ion-item>
            <ion-label position="stacked">Business Category</ion-label>
            <ion-input type="text" placeholder="Business Category" [(ngModel)]="user.business_category" formControlName="business_category"></ion-input>
          </ion-item>
          <div *ngIf="(business_category.dirty || business_category.touched) && business_category.errors" class="errors">
            <span *ngIf="business_category.errors?.required">Business Category is required</span>
          </div>

          
          <ion-item>
            <ion-label position="stacked">Business Address</ion-label>
            <ion-input type="text" placeholder="Business Address" [(ngModel)]="user.business_address" formControlName="business_address"></ion-input>
          </ion-item>
          <div *ngIf="(business_address.dirty || business_address.touched) && business_address.errors" class="errors">
            <span *ngIf="business_address.errors?.required">Business Address is required</span>
          </div>

          <ion-item>
            <ion-label position="stacked">City</ion-label>
            <ion-input type="text" placeholder="City" [(ngModel)]="user.city" formControlName="city"></ion-input>
          </ion-item>
          <div *ngIf="(city.dirty || city.touched) && city.errors" class="errors">
            <span *ngIf="city.errors?.required">Business Address is required</span>
          </div>

          
          <ion-item>
            <ion-label position="stacked">Pin Code</ion-label>
            <ion-input type="number" placeholder="Pin Code" [(ngModel)]="user.pin_code" formControlName="pin_code"></ion-input>
          </ion-item>
          <div *ngIf="(pin_code.dirty || pin_code.touched) && pin_code.errors" class="errors">
            <span *ngIf="pin_code.errors?.required">Pin Code is required</span>
          </div>
          
          <ion-item>
            <ion-label position="stacked">Landmark</ion-label>
            <ion-input type="text" placeholder="Landmark" [(ngModel)]="user.landmark" formControlName="landmark"></ion-input>
          </ion-item>
          <div *ngIf="(landmark.dirty || landmark.touched) && landmark.errors" class="errors">
            <span *ngIf="landmark.errors?.required">Landmarkis required</span>
          </div>

       

        </div>
        </ion-card-content>
            <ion-button type="submit" id="button" color="warning"  expand="block" >Update</ion-button>
      </form>
     
      </ion-card>
     </div>

  <div *ngIf="segmentModel === 'bankaccountdetails'" style="margin-bottom:50px">
   <ion-card >
    <ion-card-header>
      <ion-card-title>Bank Account</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     
       <form (ngSubmit)="bankUpdate()" [formGroup]="bankdetails">
        <ion-card-content>
        <div class="input-group" *ngFor="let bank of banks">
         
          <ion-item>
            <ion-label position="stacked">Account Name</ion-label>
            <ion-input type="text"  [(ngModel)]="bank.account_name" formControlName="account_name"></ion-input>
          </ion-item>
          <div *ngIf="(account_name.dirty || account_name.touched) && account_name.errors" class="errors">
            <span *ngIf="account_name.errors?.required">Account Name is required</span>
          </div>

          <ion-item>
            <ion-label position="stacked">Account Number</ion-label>
            <ion-input type="number"  [(ngModel)]="bank.account_no" formControlName="account_no"></ion-input>
          </ion-item>
          <div *ngIf="(account_no.dirty || account_no.touched) && account_no.errors" class="errors">
            <span *ngIf="account_no.errors?.required">Account Number is required</span>
          </div>

          <ion-item>
            <ion-label position="stacked">Bank Name</ion-label>
            <ion-input type="text" [(ngModel)]="bank.bank_name" formControlName="bank_name"></ion-input>
          </ion-item>
          <div *ngIf="(bank_name.dirty || bank_name.touched) && bank_name.errors" class="errors">
            <span *ngIf="bank_name.errors?.required">Bank Name is required</span>
          </div>

          <ion-item>
            <ion-label position="stacked">IFSC Code</ion-label>
            <ion-input type="text"  [(ngModel)]="bank.ifsc_code" formControlName="ifsc_code" ></ion-input>
          </ion-item>
        
          <div *ngIf="(ifsc_code.dirty || ifsc_code.touched) && ifsc_code.errors" class="errors">
            <span *ngIf="ifsc_code.errors?.required">IFSC Code is required</span>
          </div>

          <ion-item>
            <ion-label position="stacked">Branch Name</ion-label>
            <ion-input type="text"  [(ngModel)]="bank.branch_name" formControlName="branch_name" ></ion-input>
          </ion-item>
        
          <div *ngIf="(branch_name.dirty || branch_name.touched) && branch_name.errors" class="errors">
            <span *ngIf="branch_name.errors?.required">Branch Name is required</span>
          </div>

          <ion-item>
            <ion-label position="stacked">Bank City</ion-label>
            <ion-input type="text"  [(ngModel)]="bank.bank_city" formControlName="bank_city" ></ion-input>
          </ion-item>
        
          <div *ngIf="(bank_city.dirty || bank_city.touched) && bank_city.errors" class="errors">
            <span *ngIf="bank_city.errors?.required">Bank City is required</span>
          </div>

           <ion-item>
            <ion-label position="stacked">Account Type</ion-label>
            <ion-input type="text"  [(ngModel)]="bank.account_type" formControlName="account_type" ></ion-input>
          </ion-item>
        
          <div *ngIf="(account_type.dirty || account_type.touched) && account_type.errors" class="errors">
            <span *ngIf="account_type.errors?.required">Account Type is required</span>
          </div>

          

        </div>
        </ion-card-content>
            <ion-button type="submit" id="button" color="warning" expand="block" >Update</ion-button>
      </form>
     
    </ion-card-content>
  </ion-card>
 </div> 

  
  <ion-card *ngIf="segmentModel === 'changepass'">
    <ion-card-header>
      <ion-card-title>Change Password</ion-card-title>
    </ion-card-header>
    <form (ngSubmit)="changePass()" [formGroup]="passworddetails">
      <ion-card-content>
      <div class="input-group">
       
        <ion-item>
          <ion-label position="stacked">Enter New Password</ion-label>
          <ion-input type="password" formControlName="change_pass"></ion-input>
        </ion-item>
        <div *ngIf="(change_pass.dirty || change_pass.touched) && change_pass.errors" class="errors">
          <span *ngIf="change_pass.errors?.required">Password is required</span>
        </div>
      
      </div>
      </ion-card-content>
          <ion-button type="submit" id="button" color="warning"  expand="block" >Update</ion-button>
    </form>
    <ion-card-content>
    
    </ion-card-content>
  </ion-card>
  
</ion-content>